* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

$orangeDefault: #f7ca18;
$orangePower: #ff9b23;

@mixin text-overflow(){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@mixin size($width: 100%, $height: $width) {
    width: $width;
    height: $height;
}
@mixin displayFlex ($param: flex) {
    display: $param;
    display: -webkit-$param;
    display: -ms-$param;
    display: -moz-$param;
}
@mixin alignItems ($param: center) {
    align-items: $param;
    -webkit-align-items: $param;
    -ms-align-items: $param;
    -moz-align-items: $param;
    -ms-flex-align: $param;
}
@mixin justifyContent ($param: space-between) {
    justify-content: $param;
    -webkit-justify-content: $param;
    -ms-justify-content: $param;
    -moz-justify-content: $param;
    -ms-flex-pack: $param;
}
@mixin flexWrap ($param: wrap) {
    flex-wrap: $param;
    -webkit-flex-wrap: $param;
    -ms-flex-wrap: $param;
    -moz-flex-wrap: $param;
}
@mixin flexDirection ($param: column) {
    flex-direction: $param;
    -webkit-flex-direction: $param;
    -ms-flex-direction: $param;
    -moz-flex-direction: $param;
}
.input-field input:focus + label {
    color: $orangeDefault!important;
}
.input-field input:focus {
    border-bottom: 1px solid $orangeDefault!important;
    box-shadow: 0 1px 0 0 $orangeDefault!important;
}
.btn {
    background-color: $orangeDefault!important;
}
