* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body.home-page {
    overflow: hidden;
}

$orangeDefault: #f7ca18;
$orangePower: #ff9b23;

@mixin text-overflow(){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@mixin size($width: 100%, $height: $width) {
    width: $width;
    height: $height;
}
@mixin displayFlex ($param: flex) {
    display: $param;
    display: -webkit-$param;
    display: -ms-$param;
    display: -moz-$param;
}
@mixin alignItems ($param: center) {
    align-items: $param;
    -webkit-align-items: $param;
    -ms-align-items: $param;
    -moz-align-items: $param;
    -ms-flex-align: $param;
}
@mixin justifyContent ($param: space-between) {
    justify-content: $param;
    -webkit-justify-content: $param;
    -ms-justify-content: $param;
    -moz-justify-content: $param;
    -ms-flex-pack: $param;
}
@mixin flexWrap ($param: wrap) {
    flex-wrap: $param;
    -webkit-flex-wrap: $param;
    -ms-flex-wrap: $param;
    -moz-flex-wrap: $param;
}
@mixin flexDirection ($param: column) {
    flex-direction: $param;
    -webkit-flex-direction: $param;
    -ms-flex-direction: $param;
    -moz-flex-direction: $param;
}
.input-field input:focus + label {
    color: $orangeDefault!important;
}
.input-field input:focus {
    border-bottom: 1px solid $orangeDefault!important;
    box-shadow: 0 1px 0 0 $orangeDefault!important;
}
.input-field {
    label {
        left: 0;
    }
}
select {
    display: block;
    background-color: transparent!important;
}
.btn {
    background-color: $orangeDefault!important;
    &:focus {
        background-color: $orangeDefault!important;
    }
}
.btn-flat {
    &:focus {
        background-color: $orangeDefault!important;
    }
}
.btn-default {
    background: transparent;
    border: 1px solid #9e9e9e;
    color: #9e9e9e;
    border-radius: 6px;
    padding: 4px;
    font-size: 12px;
    &:focus {
        background-color: transparent!important;
    }
}
.icon {
    @include size(18px);
    margin-right: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    &.icon-{
        &perigo {
            background-image: url(../img/alert/perigo.jpg);
        }
        &agua {
            background-image: url(../img/alert/agua.jpg);
        }
        &evento {
            background-image: url(../img/alert/evento.jpg);
        }
        &incendio {
            background-image: url(../img/alert/incendio.jpg);
        }
        &acidente {
            background-image: url(../img/alert/acidente.jpg);
        }
        &construcao {
            background-image: url(../img/alert/construcao.jpg);
        }
        &energia {
            background-image: url(../img/alert/energia.jpg);
        }
        &users.amigos {
            color: #DF01A5!important;
        }
        &users.outros {
            color: #cecece;
        }
    }
}
.browser-default {
    padding: 0!important;
    input, textarea {
        background-color: #fff;
        border: 1px solid #d1d1d1;
        border-radius: 11px;
        resize: none;
        outline: none;
        padding: 10px;
        box-sizing: border-box;
        &:focus {
            border: none;
            box-shadow: none;
        }
    }
    label {
        font-size: 15px;
        color: #5a5a5a;
    }
}
