@import "common";
@import "font-icons/style";

header {
    @include size(100%, 150px);
    padding: 16px;
    @include displayFlex;
    @include justifyContent(space-between);
    @include alignItems;
    .r-logo {
        @include size(160px, 50px);
        background-image: url(../img/LogoRobin.png);
        background-size: contain;
        background-repeat: no-repeat;
        float: left;
    }
    .form-login {
        margin: 0;
        position: relative;
        .input-field input:focus + label {
            color: $orangeDefault;
        }
        .input-field input:focus {
            border-bottom: 1px solid $orangeDefault;
            box-shadow: 0 1px 0 0 $orangeDefault;
        }
        .btn {
            background-color: $orangeDefault;
            margin: 0 10px;
            &-flat {
                margin: 0 10px;
            }
        }
        .row {
            margin: 0;
        }
        &:hover {
            &:after {
                content: 'EM BREVE';
                position: absolute;
                @include size(100%, 88%);
                padding-top: 41px;
                left: 0;
                top: 0;
                color: #9e9e9e;
                font-size: 26px;
                text-align: center;
                transition: all 0.35s ease;
                opacity: 0.8;
                background-color: #fff;
                z-index: 999;
            }
        }
    }

    //    .box-available {
    //        @include size(auto, 52px);
    //        background-color: $orangeDefault;
    //        margin-left: 15px;
    //        float: right;
    //        padding: 7px;
    //        color: #fff;
    //        cursor: pointer;
    //        @include displayFlex;
    //        &:first-child {
    //            margin-right: 0;
    //        }
    //        div {
    //            @include displayFlex;
    //            @include flexDirection;
    //            span {
    //                &:first-child {
    //                    font-size: 10px;
    //                }
    //                &:last-child {
    //                    font-size: 18px;
    //                    font-weight: 600;
    //                }
    //            }
    //        }
    //        i {
    //            line-height: 40px;
    //            margin-right: 3px;
    //            &:before {
    //                font-size: 26px;
    //            }
    //        }
    //    }
}
.drag-map {
    position: relative;
    div {
        &:first-child, &:nth-child(2) {
            color: #fff;
            font-size: 32px;
            font-weight: 500;
            text-transform: uppercase;
            @include size(264px, 100%);
            position: absolute;
            left: 7%;
            z-index: 2;
            @include displayFlex;
            @include flexDirection;
            @include justifyContent(center);
            text-align: center;
            i {
                margin-bottom: 20px;
                font-size: 72px;
                &:before {
                    line-height: 72px;
                }
            }
        }
        &:nth-child(2) {
            font-size: 24px;
            text-transform: none;
            right: 7%;
            left: auto;
            i {
                margin-bottom: 10px;
                font-size: 32px;
                &:before {
                    line-height: 32px;
                }
            }
        }
    }
    .glass-h {
        &:before, &:after {
            content: '';
            position: absolute;
            @include size(300px, 50px);
            left: calc(50% - 150px);
            top: 0;
            opacity: 0.7;
            background-color: #bbd9ea;
            z-index: 1;
        }
        &:after {
            bottom: 0;
            top: auto;
        }

    }
    .glass-v {
        &:before, &:after {
            content: '';
            position: absolute;
            @include size(calc(50% - 150px), 100%);
            left: 0;
            top: 0;
            opacity: 0.7;
            background-color: #bbd9ea;
            z-index: 1;
        }
        &:after {
            right: 0;
            left: auto;
        }

    }
    #googleMap {
        @include size(100%, 600px);
        div {
            &:first-child {
                z-index: 0;
                left: 0;
            }
            .gm-style-iw {
                top: 0!important;
                left: 16px!important;
                p {
                    text-align: left;
                    font-size: 10px;
                    &:first-child {
                        margin-bottom: 5px;
                    }
                    span {
                        float: right;
                    }
                }
            }
        }
    }
}
.rb-description {
    margin: 100px 0 100px 18%;
    @include displayFlex;
    @include alignItems;
    @include justifyContent;
    .infos {
        p {
            margin-bottom: 20px;
            font-size: 14px;
            &:first-child {
                font-size: 30px;
            }
        }
        ul {
            @include displayFlex;
            @include flexDirection;
            li{
                margin-bottom: 5px;
                @include displayFlex;
                @include alignItems;
                span {
                    font-size: 14px;
                    &.icon {
                        @include size(20px);
                        margin-right: 10px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        &.icon-{
                            &alerta {
                                background-image: url(../img/alert/perigo.jpg);
                            }
                            &agua {
                                background-image: url(../img/alert/agua.jpg);
                            }
                            &evento {
                                background-image: url(../img/alert/evento.jpg);
                            }
                            &incendio {
                                background-image: url(../img/alert/incendio.jpg);
                            }
                            &acidente {
                                background-image: url(../img/alert/acidente.jpg);
                            }
                            &construcao {
                                background-image: url(../img/alert/construcao.jpg);
                            }
                            &energia {
                                background-image: url(../img/alert/energia.jpg);
                            }
                        }
                    }
                }
            }
        }
    }
    .exemple-cel {
        @include size(60%, 486px);
        background-image: url(../img/display/cel_hor.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.rb-video {
    padding: 100px 0;
    background-color: #01b367;
    div {
        @include size(700px, auto);
        margin: 0 auto;
        p {
            text-align: center;
            color: #fff;
            font-size: 22px;
            margin-bottom: 30px;
        }
        video {
            @include size(700px, auto);
        }
    }
}

.rb-description2 {
    @include displayFlex;
    @include flexWrap;
    .box-info {
        @include size(50%, 380px);
        @include displayFlex;
        @include alignItems;
        @include justifyContent(center);
        @include flexDirection;
        &:nth-child(2), &:nth-child(3){
            @include flexDirection(row);
        }
        &:nth-child(2){
            background-color: #00b6ff;
            .exemple-cel2 {
                @include size(60%, 206px);
                background-image: url(../img/display/cel_amigos.png);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        &:nth-child(3){
            background-color: #ff9b23;
            .exemple-cel3 {
                @include size(60%, 206px);
                background-image: url(../img/display/cel_grupos.png);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        .box-text {
            width: 60%;
            p {
                margin-bottom: 20px;
                font-size: 14px;
                &:first-child {
                    font-size: 30px;
                }
            }
        }
    }
}
footer {
    background-color: #464445;
    padding: 40px 0;
    height: 100px;
    p {
        color: #f1f1f1;
        font-size: 12px;
        width: 300px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 600px) {
    header {
        display: block;
        height: 200px;
        .form-login {
            &:hover {
                &:after {
                    content: initial;
                }
            }
            &:after {
                content: 'EM BREVE ';
                position: absolute;
                @include size(100%, 69%);
                padding-top: 52px;
                left: 0;
                top: 47px;
                background: #fff;
                opacity: 0.8;
                z-index: 998;
                color: #9e9e9e;
                font-size: 20px;
                text-align: center;
            }
        }
    }
}
