* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

@orangeDefault: #f7ca18;
@orangeLogo: #ff9b23;

.size(@width: 100%, @height: @width) {
    width: @width;
    height: @height;
}
