@import "common";
@import "font-icons/font-icons";

header {
    .size(100%, 80px);
    padding: 16px;
    .r-logo {
        .size(160px, 50px);
        background-image: url(../img/LogoRobin.png);
        background-size: contain;
        background-repeat: no-repeat;
        float: left;
    }
    .box-available {
        .size(auto, 52px);
        background-color: @orangeDefault;
        margin-left: 15px;
        float: right;
        padding: 7px;
        color: #fff;
        cursor: pointer;
        .displayFlex;
        &:first-child {
            margin-right: 0;
        }
        div {
            .displayFlex;
            .flexDirection;
            span {
                &:first-child {
                    font-size: 10px;
                }
                &:last-child {
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
        i {
            line-height: 40px;
            margin-right: 3px;
            &:before {
                font-size: 26px;
            }
        }
    }
}
.drag-map {
    position: relative;
    div {
        &:first-child, &:nth-child(2) {
            color: #fff;
            font-size: 32px;
            font-weight: 500;
            text-transform: uppercase;
            .size(264px, 100%);
            position: absolute;
            left: calc(~"(50% - 150px) - 50% + 264px");
            z-index: 2;
            .displayFlex;
            .flexDirection;
            .justifyContent(center);
            text-align: center;
            i {
                margin-bottom: 20px;
                font-size: 72px;
                &:before {
                    line-height: 72px;
                }
            }
        }
        &:nth-child(2) {
            font-size: 24px;
            text-transform: none;
            right: calc(~"(50% - 150px) - 50% + 264px");
            left: auto;
            i {
                margin-bottom: 10px;
                font-size: 32px;
                &:before {
                    line-height: 32px;
                }
            }
        }
    }
    .glass-h {
        &:before, &:after {
            content: '';
            position: absolute;
            .size(300px, 50px);
            left: calc(~"50% - 150px");
            top: 0;
            opacity: 0.7;
            background-color: #bbd9ea;
            z-index: 1;
        }
        &:after {
            bottom: 0;
            top: auto;
        }

    }
    .glass-v {
        &:before, &:after {
            content: '';
            position: absolute;
            .size(calc(~"50% - 150px"), 100%);
            left: 0;
            top: 0;
            opacity: 0.7;
            background-color: #bbd9ea;
            z-index: 1;
        }
        &:after {
            right: 0;
            left: auto;
        }

    }
    #googleMap {
        .size(100%, 600px);
        div {
            &:first-child {
                z-index: 0;
                left: 0;
            }
            .gm-style-iw {
                top: 0!important;
                left: 16px!important;
                p {
                    text-align: left;
                    font-size: 10px;
                    &:first-child {
                        margin-bottom: 5px;
                    }
                    span {
                        float: right;
                    }
                }
            }
        }
    }
}
.rb-description {
    margin: 100px 0 100px 18%;
    .displayFlex;
    .alignItems;
    .justifyContent;
    .infos {
        width: 45%;
        p {
            margin-bottom: 20px;
            font-size: 14px;
            &:first-child {
                font-size: 30px;
            }
        }
        ul {
            .displayFlex;
            .flexDirection;
            li{
                margin-bottom: 5px;
                .displayFlex;
                .alignItems;
                span {
                    font-size: 14px;
                    &.icon {
                        .size(20px);
                        margin-right: 10px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        &.icon-{
                            &alerta {
                                background-image: url(../img/alert/perigo.jpg);
                            }
                            &agua {
                                background-image: url(../img/alert/agua.jpg);
                            }
                            &evento {
                                background-image: url(../img/alert/evento.jpg);
                            }
                            &incendio {
                                background-image: url(../img/alert/incendio.jpg);
                            }
                            &acidente {
                                background-image: url(../img/alert/acidente.jpg);
                            }
                            &construcao {
                                background-image: url(../img/alert/construcao.jpg);
                            }
                            &energia {
                                background-image: url(../img/alert/energia.jpg);
                            }
                        }
                    }
                }
            }
        }
    }
    .exemple-cel {
        .size(60%, 486px);
        background-image: url(../img/display/cel_hor.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.rb-video {
    padding: 100px 0;
    background-color: #01b367;
    div {
        .size(700px, auto);
        margin: 0 auto;
        p {
            text-align: center;
            color: #fff;
            font-size: 22px;
            margin-bottom: 30px;
        }
        video {
            .size(700px, auto);
        }
    }
}

.rb-description2 {
    .displayFlex;
    .flexWrap;
    .box-info {
        .size(50%, 380px);
        .displayFlex;
        .alignItems;
        .justifyContent(center);
        .flexDirection;
        &:nth-child(2), &:nth-child(3){
            .flexDirection(row);
        }
        &:nth-child(2){
            background-color: #00b6ff;
            .exemple-cel2 {
                .size(60%, 206px);
                background-image: url(../img/display/cel_amigos.png);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        &:nth-child(3){
            background-color: #ff9b23;
            .exemple-cel3 {
                .size(60%, 206px);
                background-image: url(../img/display/cel_grupos.png);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        .box-text {
            width: 60%;
            p {
                margin-bottom: 20px;
                font-size: 14px;
                &:first-child {
                    font-size: 30px;
                }
            }
        }
    }
}
footer {
    background-color: #464445;
    padding: 40px 0;
    height: 100px;
    p {
        color: #f1f1f1;
        font-size: 12px;
        width: 300px;
        margin: 0 auto;
    }
}
